@import '~node_modules/modern-normalize/modern-normalize.css';

li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  max-width: 1200px;
  height: 100%;
}

button {
  cursor: pointer;
}
