@import '~node_modules/modern-normalize/modern-normalize.css';

li {
  list-style: none;
}

.container {
  margin: 0 auto;

  max-width: 1200px;
  height: 100%;
}

button {
  cursor: pointer;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
