<header class="header">
  <div class="container container_header">
    <div class="box">
      <form id="search-form">
        <input
          class="input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search images..."
        />
        <button class="btn-input" type="submit">
          <svg class="icon-input">
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</header>
